@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');



body {
	background: linear-gradient(180deg, #252525 0%, #6e6e6e 100%);
	color: #fff;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	

}

.navbar {
	background-color: transparent !important;
	
}

.navbar .navbar-nav .nav-link {
	color: white !important;
}

.navbar-brand {
	color: white !important;
}


.social-icons a {
	color: white;
	font-size: 20px; /* Adjust the font size as desired */
	margin-right: 10px; /* Adjust the spacing as desired */


  }
  .highlight {
	color: white;
  }

  #typed {
	color: gold;
}
  
