@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
	--primary: #2596be;
	--secondary: #101820;
	--white: #fff;
}

body {
	background: #101820	;
	color: #fff;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	margin: 0;
	

}


.navbar {
	background-color: transparent !important;
	
}

  #typed {
	color: gold;
}
  
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: var(--white) !important;
	border-color: var(--white) !important;
	color: var(--secondary) !important;
}
